html{
    background: linear-gradient(to right, transparent, #ffffe0),
    url("https://wallpaperaccess.com/full/1827429.jpg");
   
}


img{
    height:100px;
    width:100px;
    
}





#title{
    color: #13274F;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#formbackground{
    border-radius: 5px;
    background-color: rgba(165, 78, 39);
    padding: 10px;
    margin: 10px 200px 10px 200px;

   
}

.arial{
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: bold;
    color: white;
}

::placeholder{
    font-family:Verdana, Tahoma, sans-serif;
    font-size: medium;
}



#description{
    font-style: italic;
    color: #13274F;
    text-align: center;
}


input[type="text"],
input[type="email"],
input[type="number"],
select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
   
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
  }



.checkbox{
    display:inline-flex;
    align-items:center;
    cursor: pointer;
}

.checkbox_input{
    display:none;
}


.checkbox_box{
    width:1.25em;
    height:1.25em;
    border: 2px solid lightgrey;
    border-radius: 3px;
    display: flex;  
    align-items: center;
    justify-content: center;
     /* display, align items and justify content is to allow items to change position vertically horizontally*/
    margin:right 100px;  /* spacing between label and checkbox */
    flex-shrink:0; /* when resize box may not be a perfect shape*/
    transition: background 0.15s, border-color 0.15s /*transition used so that when button is clicked it is smooth */
}

.checkbox_box::after{ /* virtual element that is inside the div = checkbox_box */
    content:'\2714';
    color:rgba(165, 78, 39, 0.66);;

}

.checkbox_input:checked + .checkbox_box /* this is saying when checkbox input is checked it is going to select the checkbox_box element */
{  background:gold;
    border-color: gold;

}
#submit{
    
    
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
}

#submit:hover {background-color: #04AA6D}